[submodule "wlrix-apps"]
	path = wlrix-apps
	url = https://github.com/wlRIX/wlrix-apps.git
	branch = master
[submodule "wlrix-assets"]
	path = wlrix-assets
	url = https://github.com/wlRIX/wlrix-assets.git
	branch = master
[submodule "wlrix-avalonia"]
	path = wlrix-avalonia
	url = https://github.com/wlRIX/wlrix-avalonia.git
	branch = master
[submodule "wlrix-compositor"]
	path = wlrix-compositor
	url = https://github.com/wlRIX/wlrix-compositor.git
	branch = master
[submodule "wlrix-desktop"]
	path = wlrix-desktop
	url = https://github.com/wlRIX/wlrix-desktop.git
	branch = master
[submodule "wlrix-greeter"]
	path = wlrix-greeter
	url = https://github.com/wlRIX/wlrix-greeter.git
	branch = master
[submodule "wlrix-idle"]
	path = wlrix-idle
	url = https://github.com/wlRIX/wlrix-idle.git
	branch = master
[submodule "wlrix-session"]
	path = wlrix-session
	url = https://github.com/wlRIX/wlrix-session.git
	branch = master
[submodule "NWayland"]
	path = NWayland
	url = https://github.com/wlRIX/NWayland.git
	branch = master
[submodule "Avalonia"]
	path = Avalonia
	url = https://github.com/wlRIX/Avalonia.git
	branch = wlrix-12.1.0
[submodule "xdg-desktop-portal-wlrix"]
	path = xdg-desktop-portal-wlrix
	url = https://github.com/wlRIX/xdg-desktop-portal-wlrix.git
	branch = master
[submodule "wlrix-settings-daemon"]
	path = wlrix-settings-daemon
	url = https://github.com/wlRIX/wlrix-settings-daemon.git
	branch = master
[submodule "wlrix-bg"]
	path = wlrix-bg
	url = https://github.com/wlRIX/wlrix-bg.git
	branch = master
